annotated-types==0.5.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
cffi==1.15.1
click==8.1.6
colorama==0.4.6
cryptography==41.0.3
Django==4.2.4
django-debug-toolbar==4.2.0
django-filter==23.2
django-redis==5.3.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-spectacular==0.26.4
hiredis==2.2.3
inflection==0.5.1
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
Markdown==3.4.4
more-itertools==9.1.0
pycparser==2.21
pydantic==2.0.3
pydantic_core==2.3.0
PyJWT==2.8.0
python-ulid==1.1.0
pytz==2023.3
PyYAML==6.0.1
redis==4.6.0
redis-om==0.2.1
referencing==0.30.2
rpds-py==0.9.2
types-pyOpenSSL==23.2.0.2
types-redis==4.6.0.3
typing_extensions==4.7.1
uritemplate==4.1.1
